# Ignore node_modules directory
node_modules/

# Ignore npm's debug log
npm-debug.log

# Ignore yarn lock file
yarn.lock

# Ignore pnpm's store
.pnpm-store/
.pnpm-lock.yaml
pnpm-lock.yaml

# Ignore package-lock.json
package-lock.json

# Ignore .env files
.env
.env.local
.env.*.local

# Ignore IDE and editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore build output
/build
/dist
